<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提交订单</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_model.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="{{ url_for('static', filename='js/order_modle.js') }}"></script>


</head>
<body>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-label">导航菜单</li>
            <li class="nav-item"><a href="{{ url_for('index.index') }}"><i class="fa-solid fa-house"></i><span>首页</span></a></li>
            <li class="nav-item"><a href="{{ url_for('manage.user_submit') }}"><i class="fa-solid fa-file-lines"></i><span>提交订单</span></a></li>
            </ul>
    </nav>
    <h3>提交购物车</h3>
    <form method="post" action="{{ url_for('manage.user_submit') }}">
        <p class="login-lable">输入订单信息</p>
        <div class="login-input">
            <p><select name="products_id" id="products_name"></select>
            <button type="button" onclick="addProductOptions()">商品列表</button></p>
            <p><label for="count" class="login-lable">商品数量</label></p>
            <input type="text" name="count" placeholder="请输入商品数量" required><br>
            <input type="submit" value="创建订单">
        </div>
    </form>

    
</body>
</html>