<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-label">导航菜单</li>
                <li><a href="{{ url_for('index.index') }}">首页</a></li>
                <li>用户:{{ user['user_name'] }}</li>
                <li>ID:{{ user['id'] }}</li>
                <li>{{ user['phone'] }}</li>
                <li><a href="{{ url_for('login.logout') }}">退出登录</a></li>  <!-- 退出链接修复 -->
                
            </ul>
        </div>
    </nav>
    <div class="head">
        <div class="user-block">
            <a href="{{ url_for('index.user_index') }}">个人信息</a>
            <img src="" title="设置">
        </div>
        <div>
            <a href="{{ url_for('order.show_order_list') }}">订单列表</a>
            <img src="" title="订单列表">
        </div>
        <div>
            <a href="{{ url_for('manage.manage_order') }}">订单取消</a>
            <img src="" title="订单管理">
        </div>
        <div>
            <a href="{{ url_for('manage.user_submit') }}">提交订单</a>
            <img src="" title="提交订单">
        </div>
    </div>
    <div class="foot">
        <div class="foot-content">
            <p>联系我们：18035303382</p>
            <p>邮箱：a3115839287@qq.com</p>
            <p>联系管理员：</p>
             <a href="{{ url_for('message.submit_message') }}">提交反馈</a>

        </div>

    </div>
    
</body>
</html>