<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <nav class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-label">导航菜单</li>
                <li class="nav-item"><a href="{{ url_for('index.index') }}"><i class="fa-solid fa-house"></i><span>首页</span></a></li>
                <li class="nav-item"><a href="{{ url_for('order.show_order_list') }}"><i class="fa-solid fa-file-lines"></i><span>订单查看</span></a></li>
                <li class="nav-item"><a href="{{ url_for('manage.manage_orders') }}"><i class="fa-solid fa-gear"></i><span>订单管理</span></a></li>
                <li class="nav-item"><a href="{{ url_for('transform.transform_order') }}"><i class="fa-solid fa-file-excel"></i><span>导出Excel</span></a></li>  
                <li class="nav-item"><a href="{{ url_for('login.logout') }}"><i class="fa-solid fa-xmark"></i><span>退出登录</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>订单列表</h1>

        <table class="order-table">
            <thead class="order-header">
                <tr class="order-header">
                    <th class="order-header">用户名</th>
                    <th class="order-header">地址</th>
                    <th class="order-header">电话</th>
                    <th class="order-header">订单ID</th>
                    <th class="order-header">用户ID</th>
                    <th class="order-header">商品名称</th>
                    <th class="order-header">数量</th>
                    <th class="order-header">订单状态</th>
                </tr>
            </thead>
            <tbody class="order-body">
                {% for order in orders %}
                <tr class="order-list">
                    <td>{{ order.user_name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user_id }}</td>
                    <td>{{ products[order.products_id] }}</td>  
                    <td>{{ order.count }}</td>
                    <td>{{ status_map[order.status] }}</td>
                </tr>
                {% else %}
                <tr class="order-list"><td colspan="8">暂无订单数据</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>