<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-label">导航菜单</li>
                <li class="nav-item"><a href="{{ url_for('index.index') }}"><i class="fa-solid fa-house"></i><span>首页</span></a></li>
                <li class="nav-item"><span>用户:{{ user['user_name'] }}</span></li>
                <li class="nav-item"><span>ID:{{ user['id'] }}</span></li>
                <li class="nav-item"><span>手机号:{{ user['phone'] }}</span></li>
                <li class="nav-item"><a href="{{ url_for('login.logout') }}" ><i class="fa-solid fa-xmark"></i><span>退出登录</span></a></li> 
                
            </ul>
        </div>
    </nav>
    <div class="head">
        <div class="user-block">
            <a href="{{ url_for('index.user_index') }}">个人信息</a>
            <img src="{{ url_for('static', filename='img/setting.png') }}" title="设置" class="icon">
        </div>
        <div>
            <a href="{{ url_for('order.show_user_order_list') }}">查看订单</a>
            <img src="" title="订单列表">
        </div>
        <div>
            <a href="{{ url_for('manage.manage_order') }}">订单取消</a>
            <img src="" title="订单管理">
        </div>
        <div>
            <a href="{{ url_for('manage.user_submit') }}">提交订单</a>
            <img src="" title="提交订单">
        </div>
    </div>
    <div class="foot">
        <div class="foot-content">
            <p>联系我们：18035303382</p>
            <p>邮箱：a3115839287@qq.com</p>
            <p>联系管理员：</p>
             <a href="{{ url_for('message.submit_message') }}">提交反馈</a>

        </div>

    </div>
    
</body>
</html>