<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消息查看</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
</head>
<body>

    <nav class="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-label">导航菜单</li>
                <li><a href="{{ url_for('index.index') }}">首页</a></li>
                <li><a href="{{ url_for('order.show_order_list') }}">订单查看</a></li>
                <li><a href="{{ url_for('manage.show_manage') }}">用户查看</a></li>  
                <li><a href="{{ url_for('message.show_message_list') }}">消息查看</a></li>
                <li><a href="{{ url_for('analyse.show_analyse') }}">利润分析</a></li>
                <li><a href="{{ url_for('login.logout') }}">退出登录</a></li>  
            </ul>
        </div>
    </nav>    
    

    <h3>消息查看</h3>


    <table class="message-table">
        <tr>
            <th>消息ID</th>
            <th>发送时间</th>
            <th>消息内容</th>
        </tr>
        {% for message in messages %}
        <tr onclick="modalOpen({
            title: '{{ message.id }}',
            time: '{{ message.time }}',
            content: '{{ message.message }}',
        })">
            <td>{{ message.id }}</td>
            <td>{{ message.time }}</td>
            <td>{{ message.message }}</td>
        </tr>
        {% endfor %}
    </table>
 
    <div class="modal-mask" id="modalMask">
        <div class="modal-box">

            <div class="modal-box-top">
                <div class="modal-box-title">消息详情</div>
                <button onclick="modalClose()" class="modal-close">×</button>
            </div>

            <div class="modal-box-content" id="modalContent">

            </div>

            <div class="modal-box-bottom">
                <button type="button" onclick="modalClose()">关闭</button>
            </div>
        </div>
    </div>

    
</body>
</html>