
li {
    color: #333;
    list-style: none;
}

li::before {
    content: "";
    color: #4CAF50;
    position: absolute;
    inset: 30px;
    box-shadow:
     0 0 0 10px #6df4be,
     0 0 0 20px #61be63,
     0 0 0 22px #2b702c;
    transition:0.5s;
    ;

}

li::after {
    content: "";
    color: #4CAF50;
    position: absolute;
    inset: 0;
    background-color: #4CAF50;
    transform: scale(45deg);
    transition: 0.5s;
}

li:hover::before {
    inset: 15px;
}

li:hover::after {
    inset: 0px;
    transform: rotate(45deg);
}

li:hover a i {
    color: #4CAF50;
    transform: translateY(-40%);
}

a {
    position: relative;
    z-index: 10;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

a i {
    opacity: 1;
    color: #333;
    font-size: 2em;
    transition: 0.5s;
}

a span {
    position: absolute;
    transform: scale(0) translateY(200%);
    opacity: 0;
    font-family: sans-serif;
    color: #333;
    transition: 0.5s;
}

body {
    color: var(--dark);
    background-color: rgba(245, 194, 194, 0.692);
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    background-color: rgba(255, 255, 255, 0.728);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 15px 0;
    margin-bottom: 30px;
}



.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;  
    padding: 0;
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    color: #333;
}

.nav-list a:hover {
    color: #4CAF50;  
}

.nav-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;   
}

.success {
    color: green;
    margin-top: 10px;
    text-align: center;  
}


.error {
    color: red;
    margin-top: 10px;
    text-align: center;  
}
