.container-order {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #d7a7a7;
    text-align: left;
}
.order-table-header {
    background-color: #f2f2f2;
}
